<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Website Personal Blog</h1>

                <p class="lead text-muted"><b>This is a simple demonstration project for a portfolio</b></p>

                <p class="lead text-muted">Simple Spring CRUD without validation and tests</p>

                <p class="lead text-muted">Java 11, Maven, Spring Boot(web, data-jpa), MVC-pattern, MySQL, HTML,
                    Thymeleaf, Bootstrap</p>

                <b class="lead text-muted">©Maksim Kurozhko </b>
                <p class="lead text-muted">Candidate to the position Intern/Junior Java Developer</p>
            </div>
        </div>
    </section>
</main>
<div th:insert="blocks/footer :: footer"></div>

</body>
</html>


